
.job-stats {
  display: flex;
  gap: 10px;
}

.job-stat-card {
  padding: 10px;
  border: #e4e4e4 1px solid;
  background-color: #DAE2F0;
  font-size: 14px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}

.job-stat-card h3 {
  font-size: 14px;
  color: #666;
}

.job-stat-card p {
  font-size: 20px;
  font-weight: bold;
}